In [ ]:
import pandas as pd
from pathlib import Path
import numpy as np

In [ ]:
dp = Path('./src/tables/recipes_model/')

1. Загрузите данные из файлов `reviews_short.csv` и `recipes_short_5.csv` в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id, name, minutes, submitted, description, n_ingredients`

In [ ]:
reviews = pd.read_csv(dp/'reviews_sample.csv', index_col=0)
recipes = pd.read_csv(dp/'recipes_sample.csv')
recipes = recipes.drop(columns=['n_steps', 'contributor_id'])
recipes

,name,id,minutes,submitted,description,n_ingredients
0,george s at the cove black bean soup,44123,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,2007-11-25,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,2004-11-03,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,2012-08-29,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл recipes.xlsx. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [ ]:
reviews_s = reviews.sample(len(reviews)//20)
reviews_s

,user_id,recipe_id,date,rating,review
894698,232480,136577,2005-09-09,4,This is similar to my recipe except that I mak...
115669,171790,124269,2009-10-01,5,Excellent mix. Much less expensive than commer...
1087599,394085,37296,2010-03-06,0,Unfortunately this combination didn't appeal t...
318598,1269015,77087,2010-10-04,4,I subbbed the tahini for some peanut butter an...
296944,124084,50385,2004-01-30,5,Mad good. My girlfriend and I went to Macaron...
...,...,...,...,...,...
819955,2001095212,185060,2017-08-06,5,Awesome recipe but I did make a couple of chan...
1126287,148316,110825,2005-02-19,5,Outstandingly delicious Jewelies! I made this ...
834851,487088,32973,2010-02-01,5,"When I heard ""These are the best you've ever m..."
774153,1595577,128956,2010-04-11,0,This is a must have in any Weight Watcher kitc...
158781,1800230938,8701,2016-10-18,5,Thanks for such a cool recipe! Wanna try it th...

In [ ]:
recipes_s = recipes.sample(len(reviews)//20)
recipes_s

,name,id,minutes,submitted,description,n_ingredients
23414,sauerkraut candy,198251,35,2006-11-28,we had this candy at a sauerkraut festival in ...,7.0
16844,mandel bread traditional jewish holiday cookie,14960,45,2001-11-28,the original jewish biscotti. great dunked int...,NaN
8125,cream puff paste,692,345,1999-09-07,cream puff paste (pate a choux),6.0
14578,island cheese ball,83598,5,2004-02-11,a very simple and tasty recipe to serve. even ...,NaN
6277,chilighetti,458309,30,2011-06-08,spaghetti with chili seasonings. a nice quick...,10.0
...,...,...,...,...,...,...
23910,shamrock salad,115449,20,2005-04-05,a diabetic recipe i found on the dlife web sit...,8.0
16309,liverwurst sandwich,157478,10,2006-02-24,my dad and i made up this sandwich one afterno...,7.0
13411,hazelnut espresso sandwich cookies,257703,160,2007-10-08,"from the pages of taste of home, submitted by ...",13.0
23349,sarah s beef enchiladas with chicken soup,213848,45,2007-02-26,surprising to find a dinner recipe written dow...,NaN
19590,oven hot dogs,470291,55,2011-12-20,i loved recipe #432038 so much that it landed ...,NaN

In [ ]:
writer = pd.ExcelWriter("./src/tables/recipes.xlsx", engine='xlsxwriter')
recipes_s.to_excel(writer, sheet_name='Рецепты')
reviews_s.to_excel(writer, sheet_name='Отзывы')
writer.save()

C:\Users\DaSh-More\AppData\Local\Temp\ipykernel_14528\2267591110.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [ ]:
import xlwings as xw
wb = xw.Book("./src/tables/recipes.xlsx")
sheet = wb.sheets['Рецепты']

3. Используя xlwings, добавьте на лист Рецепты столбец seconds_assign, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [ ]:
sheet['H1'].value = ['seconds_assign', *
                     (recipes_s['minutes']*60).values.reshape((-1, 1))]

4. Используя xlwings, добавьте на лист Рецепты столбец seconds_formula, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [ ]:
sheet[f'I1'].value = [['seconds_formula']] + \
    [[f'=D{n+2}*60'] for n in range(len(recipes_s))]

5. Добавьте на лист Рецепты столбец n_reviews, содержащий кол-во отзывов для этого рецепта

In [ ]:
ids = list(reviews_s['recipe_id'].values)
sheet['J1'].value = [['n_reviews'], *[[ids.count(i)] for i in ids]]

6. Раскрасьте ячейки столбца minutes в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [ ]:
def recolor(sheet, cells, color, /, step=40):
    index = 0
    while True:
        n_index = None if (index + step > len(cells)) else index + step
        sheet[';'.join(cells[index:n_index])].color = color
        # print(index, n_index)
        index += step
        if not n_index:
            break

In [ ]:
mins = recipes_s['minutes'].values

green_rows = [f'D{i}' for i in np.where(mins < 5)[0]+2]
recolor(sheet, green_rows, "#00ff00")

red_rows = [f'D{i}' for i in np.where(mins > 10)[0]+2]
recolor(sheet, red_rows, "#ff0000")

yellow_rows = [f'D{i}' for i in np.where((5 <= mins) & (mins <= 10))[0]+2]
recolor(sheet, yellow_rows, "#ffff00")

7. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [ ]:
titles = 'A1:J1'
sheet[titles].api.Font.FontStyle = 'Bold'
sheet[titles].api.VerticalAlignment = 2
sheet[titles].api.HorizontalAlignment = 3
sheet['A:J'].autofit()

8. Напишите функцию validate(), которая проверяет соответствие всех строк из листа interactions следующим правилам:\
   Рейтинг - это число от 0 до 5 включительно\
   Соответствующий рецепт имеется на листе рецептов\
   В случае несоответствия этим правилам, выделите строку красным цветом

In [ ]:
def validate(sheet):
    rating = reviews_s['rating'].values
    ids_rec = recipes_s['id'].values
    ids_rev = reviews_s['recipe_id'].values
    [f'J{n}' for n, i in enumerate(rating) if not (0 <= i <= 5)]

    if recol := [f'J{n}' for n, i in enumerate(rating) if not (0 <= i <= 5) or (ids_rev[n] not in ids_rec)]:
        recolor(sheet, recol, '#ff0000')

validate(sheet)